<form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" [formGroup]="form">
  <anx-forms-input formControlName="username" [errors]="form.get('username').errors" [placeholder]="'Username'"></anx-forms-input>

  <anx-forms-input
    formControlName="password"
    [errors]="form.get('password').errors"
    [placeholder]="'Password'"
    [type]="'password'"
  ></anx-forms-input>

  <button type="submit" class="btn btn-primary" id="btnLogin" (click)="doLogin()">Login</button>
</form>
