<div class="modal-header">

  <h4 class="modal-title" *ngIf="!userTeam">Add member</h4>
  <h4 class="modal-title" *ngIf="userTeam">Edit member</h4>

  <div class="close" aria-label="Close" (click)="closeAction('Cross click')">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="userTeamForm">

    <div *ngIf="!userTeam; else userIsSet">
      <label>User</label>
      <anx-forms-input-select
        formControlName="user"
        [options]="users"
        bindLabel="username"
        bindValue="pk"
        [multiple]="false"
        [errors]="userTeamForm.get('user').errors"
      >
      </anx-forms-input-select>
    </div>

    <label>Role</label>
    <anx-forms-input-select
      formControlName="role"
      [options]="roles"
      bindLabel="label"
      bindValue="pk"
      [multiple]="false"
      [errors]="userTeamForm.get('role').errors"
    >
    </anx-forms-input-select>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeAction('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary btn-outline-dark" (click)="confirmAction()">Save</button>
</div>

<ng-template #userIsSet>
  <div class="form-group">
    <b>User:</b> {{ userTeam.user_display }}
  </div>
</ng-template>
