<div class="modal-header">

  <h4 class="modal-title" *ngIf="!userTeam">Add member</h4>
  <h4 class="modal-title" *ngIf="userTeam">Edit member</h4>

  <div class="close" aria-label="Close" (click)="closeAction('Cross click')">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="userTeamForm">

    <div class="form-group" *ngIf="!userTeam; else userIsSet">
      <label>User</label>
      <ng-select
        formControlName="user"
        [items]="users"
        bindLabel="username"
        bindValue="pk"
        [clearable]="false"
        [multiple]="false">
      </ng-select>
    </div>


    <label>Role</label>
    <ng-select
      formControlName="role"
      [items]="roles"
      bindLabel="label"
      bindValue="pk"
      [clearable]="false"
      [multiple]="false">
    </ng-select>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeAction('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary btn-outline-dark" (click)="confirmAction()">Save</button>
</div>

<ng-template #userIsSet>
  <div class="form-group">
    <b>User:</b> {{ userTeam.user_display }}
  </div>
</ng-template>
