.teams {
    margin-top: 0.5rem;

    .team {
        display: inline-block;
        margin-top: 0.25rem;
        padding-top: 5px;
        width: 38px;
        height: 38px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 100%;
        background-size: cover;
        cursor: pointer;
    }
}
