.card {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    cursor: pointer;

    .card-body {
        display: grid;
        grid-template-areas: 'badge snippet';
        grid-template-columns: 20px 1fr;
        gap: 10px;
        padding-bottom: 0;

        .user-badge {
            grid-area: badge;
            border-radius: 50%;
            width: 100%;
        }
    
        .snippet {
            grid-area: snippet;
        }
    }

    &.active {
        background: #f7f7f7;
    }
}

.card-text {
    width: 100%;
    padding: 0 5%;
}