.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.filterAction {
    display: block;
    width: 100%;
    cursor: pointer;
}
