<div class="list-group-heading">
  <b>Labels</b>
  <fa-icon class="float-right" icon="plus"></fa-icon>
</div>
<div class="list-group list-group-flush" id="list-tab" role="tablist">
  <a *ngFor="let label of labels"
      [ngClass]="{active: activeFilter.area === 'labels' && activeFilter.value === label.pk}"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      id="list-profile-list"
      role="tab"
      aria-controls="profile">
    <span class="filterAction" (click)="updateActiveFilter(label.pk)"><span class="dot icon"></span> {{ label.name }}</span>
    <span class="badge badge-primary badge-pill">{{ randomNumber() }}</span>
  </a>
</div>