version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
    timezone: Europe/Vienna
  open-pull-requests-limit: 99
  ignore:
    - dependency-name: "@ngxs/store"
    - dependency-name: "@ngxs/devtools-plugin"
