ngb-accordion {
    ::ng-deep {
        .card-header {
            padding: 0;

            a {
                display: block;
                padding: .75rem 1.25rem;
            }
        }

        .card {
            border: 0;
        }

        .card-header {
            border: 1px solid rgba(0,0,0,.125);
        }

        .card-body {
            padding: 0;
        }
    }
}

handy-syntax-highlighter {
    ::ng-deep {
        pre {
            margin: 0;
            padding: 0;
        }
    }
}

.label-list {
  padding: 15px;

  .badge {
    margin-right: 5px;
  }
}

