<div *ngIf="activeSnippet;">
  <div style="padding: 15px;">
    <span class="badge badge-info">ToDo</span>
    <span class="badge badge-info">Angular</span>
    <span class="badge badge-info">Vue</span>
    <span class="badge badge-info">Laravel</span>
  </div>

  <div style="padding: 15px;">
    {{ activeSnippet.description }}
  </div>

  <div *ngFor="let file of files" style="margin: 30px;">
    <ngb-accordion #acc="ngbAccordion" [activeIds]="'file-' + file.pk">
      <ngb-panel [id]="'file-' + file.pk" [title]="file.name">
        <ng-template ngbPanelContent>
          <ngx-monaco-editor
            style="height: 400px;"
            [options]="{theme: 'vs-dark', language: 'python', readOnly: true, scrollBeyondLastLine: false}"
            [(ngModel)]="file.content"
          ></ngx-monaco-editor>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
<div>