<div class="row">
  <div class="col-6" style="padding-top: 0;">
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" id="search" placeholder="Search for snippets">
    </div>
  </div>
  <div class="col-6 text-right" style="padding-top: 0;">
    
    <div ngbDropdown class="d-inline-block" placement="bottom-right" #myDrop="ngbDropdown">
      <button class="btn btn-sm btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>username</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div class="card" style=" border-radius: 0; border: none;">
            <div class="card-body text-center" style="border-bottom: 1px solid #ddd; padding: 0; margin-bottom: 10px;">
                <p><img class="img-fluid" src="https://www.gravatar.com/avatar/f4e0e4c7b62a14bb1a00a95828082cf2?s=200" alt="card image" style="border-radius: 50%; max-width: 50%;"></p>
                <h4 class="card-title">username</h4>
            </div>
        </div>
        <button class="dropdown-item">Help</button>
        <button class="dropdown-item">Logout</button>
      </div>
    </div>
  </div>
</div>