<div class="modal-header">
  <h4 class="modal-title" *ngIf="!snippet">Add snippet</h4>
  <h4 class="modal-title" *ngIf="snippet">Edit snippet</h4>
</div>
<div class="modal-body">
  <form>
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

    <div *ngFor="let file of filesForm.controls; let i = index" [formArray]="filesForm" style="margin-top: 0.75rem">
      <div [formGroup]="filesForm.controls[i]">
        <div class="card" style="border: none">
          <div class="card-head" style="border: 1px solid rgba(0, 0, 0, 0.125)">
            <div class="row">
              <div class="col-4">
                <div class="form-group" style="margin: 0.75rem">
                  <input class="form-control" formControlName="name" [id]="'input-title-' + i" />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group" style="margin: 0.75rem">
                  <ng-select
                    [items]="languages$ | async"
                    bindLabel="name"
                    bindValue="pk"
                    formControlName="language"
                    clearable="false"
                    placeholder="Select language"
                  ></ng-select>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="form-group" style="margin: 0.75rem">
                  <button class="btn btn-link" aria-label="Remove" (click)="removeFile(i)">
                    <fa-icon [icon]="['fas', 'trash']" size="sm"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="(languages | filterBy: ['pk'] : file.get('language').value : [true]).length">
            <ngx-monaco-editor
              style="height: 400px"
              [options]="{
                theme: 'vs-dark',
                language: (languages | filterBy: ['pk'] : file.get('language').value : [true])[0].name,
                scrollBeyondLastLine: false,
                scrollbar: { alwaysConsumeMouseWheel: false },
              }"
              formControlName="content"
            ></ngx-monaco-editor>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 0.75rem">
      <button class="btn btn-link" (click)="addFile()">Add code</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="closeAction('Cancel click')">Cancel</button>
  <button class="btn btn-primary" (click)="confirmAction(false)">Save</button>
  <button class="btn btn-primary" (click)="confirmAction(true)">Save & Close</button>
</div>
