<div class="modal-header">
  <h4 class="modal-title" *ngIf="!label">Add label</h4>
  <h4 class="modal-title" *ngIf="label">Edit label</h4>

  <div class="close" aria-label="Close" (click)="closeAction('Cross click')">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <form class="form" role="form" autocomplete="off" [formGroup]="labelForm">
    <ng-container formGroupName="labelRequest">
      <anglify-text-field label="Name" appearance="outlined">
        <input anglifyInput name="name" formControlName="name" />
      </anglify-text-field>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeAction('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary btn-outline-dark" (click)="confirmAction()">Save</button>
</div>
