<div class="modal-header">
  
  <h4 class="modal-title" *ngIf="!label">Add label</h4>
  <h4 class="modal-title" *ngIf="label">Edit label</h4>

  <div class="close" aria-label="Close" (click)="closeAction('Cross click')">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="labelForm">
    <span>Name</span>
    <anx-forms-input
      formControlName="name"
      [errors]="labelForm.get('name').errors"
    ></anx-forms-input>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeAction('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary btn-outline-dark" (click)="confirmAction()">Save</button>
</div>
