:host {
    padding: .75rem 0;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
}

.row {
    margin: 0;
}

.label-toggle {
    display: block;
    width: 100%;
    padding: .15rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
