<ng-container *ngIf="activeSnippet$ | async as activeSnippet">
  <div class="row">
    <div class="col-9 snippet-info">
      <!-- ToDo: Implement in 1.1
          <fa-icon class="icon" [icon]="['far', 'star']" size="sm"></fa-icon>
          !-->
      <div class="title">{{ activeSnippet.title }}</div>
      <div class="d-flex gap-2 metadata">
        <div anglifyTooltip="Author">
          <anglify-icon icon="mdi-account" size="x-small"></anglify-icon> {{ activeSnippet.user_display || 'Anonymous' }}
        </div>
        <div anglifyTooltip="Last modified">
          <anglify-icon icon="mdi-calendar" size="x-small"></anglify-icon> {{ activeSnippet.modified_date | date: 'medium' }}
        </div>
        <div anglifyTooltip="Visibility"><anglify-icon icon="mdi-eye" size="x-small"></anglify-icon> {{ activeSnippet.visibility }}</div>
      </div>
      <div class="d-flex share-url">
        <div class="label"><b>Share URL</b></div>
        <div class="link">{{ permalink }}</div>
        <button anglifyButton appearance="contained" ngxClipboard [cbContent]="permalink">
          <anglify-icon icon="mdi-content-copy" size="x-small"></anglify-icon>
        </button>
      </div>
    </div>
    <div class="col-3 text-end" style="padding-top: 0">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button anglifyButton appearance="icon" (click)="editSnippet()" *appPerm="'canEditSnippet'; args: [currentUser, activeSnippet]">
          <anglify-icon icon="mdi-pencil" size="x-small"></anglify-icon>
        </button>
        <button
          anglifyButton
          appearance="icon"
          (click)="openDeleteModal(deleteModal)"
          *appPerm="'canDeleteSnippet'; args: [currentUser, activeSnippet]"
        >
          <anglify-icon icon="mdi-delete" size="x-small"></anglify-icon>
        </button>
      </div>
    </div>
  </div>

  <ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Delete Snippet</h4>
      <button anglifyButton appearance="icon" aria-label="Close" (click)="d('Cross click')">
        <anglify-icon icon="mdi-close" size="small"></anglify-icon>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Are you sure you want to delete the current snippet "<strong>{{ activeSnippet.title }}</strong
        >"?
      </p>
    </div>
    <div class="modal-footer">
      <button anglifyButton appearance="text" (click)="d('Cancel click')">Cancel</button>
      <button anglifyButton (click)="c('Delete click')">Delete</button>
    </div>
  </ng-template>
</ng-container>
