<div class="modal-header">
  <h4 class="modal-title">SnyPy</h4>

  <div class="close" aria-label="Close" (click)="closeAction('Cross click')">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <p>Open source code snippet organizer for developers.</p>
  <ul>
    <li><a href="https://github.com/nezhar/snypy-frontend" target="_blank">Frontend source</a></li>
    <li><a href="https://github.com/nezhar/snypy-backend" target="_blank">Backend source</a></li>
  </ul>
</div>
