$primary-color-50: #f2f9fd;
$primary-color-100: #e5f0f9;
$primary-color-200: #c5e2f2;
$primary-color-300: #92cae7;
$primary-color-400: #57aed9;
$primary-color-500: #3293c5;
$primary-color-600: #2277a7;
$primary-color-700: #1d5e87;
$primary-color-800: #1c5170;
$primary-color-900: #1c445e;
$primary-color-950: #142f43;

$secondary-color-50: #fcf5f0;
$secondary-color-100: #f8e8dc;
$secondary-color-200: #f1cfb7;
$secondary-color-300: #e8ae89;
$secondary-color-400: #dd845a;
$secondary-color-500: #d66539;
$secondary-color-600: #cf5331;
$secondary-color-700: #a63d28;
$secondary-color-800: #853327;
$secondary-color-900: #6c2c22;
$secondary-color-950: #3a1410;
