<div class="content" *ngIf="!snippetError">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <button [routerLink]="'/'" class="btn btn-link">
        <fa-icon [icon]="['fas', 'home']" size="sm" class="mr-1"></fa-icon>
        Dashboard
      </button>
    </div>
    <div class="row">
      <div class="col-12 full-height remove-side-padding">
        <app-snippet-options></app-snippet-options>
        <ng-scrollbar style="height: calc(100vh - 155px)" visibility="hover" class="snypy-scrollbar">
          <app-snippet></app-snippet>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>

<div *ngIf="snippetError" class="page-wrap d-flex flex-row align-items-center error404">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">The snippet you are looking for was not found.</div>
        <a [routerLink]="'/'" class="btn btn-link">Back to Home</a>
      </div>
    </div>
  </div>
</div>
