<div class="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6" style="padding-top: 0; padding-bottom: 0; border-top: none; border-bottom: none;">

          <div class="row">
            <div class="col-3 full-height">
              Side 1
            </div>
            <div class="col-9 full-height">
              Side 2
            </div>
          </div>

      </div>
      <div class="col-6">
        Side 2
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 full-height">
        One of three columns
      </div>
    </div>
  </div>
</div>
