.sidebar {
    width: 560px;
    display: block;
    float: left;
    background: rgba(86,61,124,.4);
}

.content {
    width: calc(100% - 560px);
    display: block;
    float: left;
}

.row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.full-height {
    height: 100vh;
}