<div class="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6" style="padding-top: 0; padding-bottom: 0; border-top: none; border-bottom: none; border-right: 1px solid rgba(255, 255, 255, 0.2);">

          <div class="row">
            <div class="col-3 full-height text-center sidebar-users" style="padding-right: 0;">
              <div style="padding-right: 15px;">
                <fa-icon icon="code" size="lg"></fa-icon>
              </div>
              
              <div class="users">
                <perfect-scrollbar style="max-height: calc(100vh - 38px); padding-right: 15px;" >
                  <span class="user">
                    <fa-icon icon="user"></fa-icon>
                  </span>
                  <span class="user">
                    <fa-icon icon="globe"></fa-icon>
                  </span>
                  <span class="user" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                    <fa-icon icon="coffee" title="Team {{ i }}"></fa-icon>
                  </span>
                </perfect-scrollbar>
              </div>
            </div>
            <div class="col-9 full-height sidebar-navigation" style="padding-right: 0;padding-left: 0;">
                <div class="side-padding">
                  <span>
                      <b>My Snippets</b>
                      <fa-icon class="float-right" icon="sync-alt"></fa-icon>
                  </span>
                                      
                  <button 
                    type="button" class="btn btn-sm btn-success btn-block"
                    style="margin-top: .75rem; margin-bottom: .75rem; text-transform: uppercase; font-size: 12px; font-weight: bold;"
                  >New Snippet</button>
      
                </div>
                <perfect-scrollbar style="max-height: calc(100vh - 90px);">
                  <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" href="#list-home" role="tab" aria-controls="home">
                      <fa-icon class="icon" icon="globe" size="sm"></fa-icon> All snippets
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <fa-icon class="icon" icon="star" size="sm"></fa-icon> Favorites
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <fa-icon class="icon" icon="tag" size="sm"></fa-icon> Unlabeled
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon class="icon" icon="eye" size="sm"></fa-icon> Public
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon class="icon" icon="eye-slash" size="sm"></fa-icon> Private
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon class="icon" icon="cloud-upload-alt" size="sm"></fa-icon> Shared by me
                      </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon class="icon" icon="cloud-download-alt" size="sm"></fa-icon> Shared with me
                    </a>
                  </div>
                  
                  <div class="list-group-heading side-padding">
                      <b>Labels</b>
                      <fa-icon class="float-right" icon="plus"></fa-icon>
                  </div>

                  <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Angular</span>
                      <span class="badge badge-primary badge-pill">5</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Vue</span>
                      <span class="badge badge-primary badge-pill">9</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Django</span>
                      <span class="badge badge-primary badge-pill">12</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Wordpress</span>
                      <span class="badge badge-primary badge-pill">7</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Laravel</span>
                      <span class="badge badge-primary badge-pill">2</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Angular</span>
                      <span class="badge badge-primary badge-pill">5</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Vue</span>
                      <span class="badge badge-primary badge-pill">9</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Django</span>
                      <span class="badge badge-primary badge-pill">12</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Wordpress</span>
                      <span class="badge badge-primary badge-pill">7</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Laravel</span>
                      <span class="badge badge-primary badge-pill">2</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Angular</span>
                      <span class="badge badge-primary badge-pill">5</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Vue</span>
                      <span class="badge badge-primary badge-pill">9</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Django</span>
                      <span class="badge badge-primary badge-pill">12</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Wordpress</span>
                      <span class="badge badge-primary badge-pill">7</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot icon"></span> Laravel</span>
                      <span class="badge badge-primary badge-pill">2</span>
                    </a>
                  </div>
                  
                  <div class="list-group-heading side-padding">
                      <b>Languages</b>
                  </div>
                  <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" href="#list-home" role="tab" aria-controls="home">
                      <span class="icon">#</span> php
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span class="icon">#</span> python
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> typescript
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> javascript
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> sh
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> markdown
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-home-list" href="#list-home" role="tab" aria-controls="home">
                      <span class="icon">#</span> php
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span class="icon">#</span> python
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> typescript
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> javascript
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> sh
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <span class="icon">#</span> markdown
                    </a>
                  </div>
                </perfect-scrollbar>
            </div>
          </div>

      </div>
      <div class="col-6 border-right remove-side-padding" style="padding-top: 0;">

        <div class="side-padding border-bottom" style="padding-bottom: 8px; background: #f7f7f7">
          <small><b>Sort by</b></small>
          <ng-select
            [items]="[{pk: 1, name: 'Creation date'}, {pk: 2, name: 'Last modification date'}, {pk: 3, name: 'Title'}]"
            bindLabel="name"
            bindValue="pk"
            [clearable]="false"
            [searchable]="false"
            [ngModel]="1">
          </ng-select>
        </div>

        <perfect-scrollbar style="max-height: calc(100vh - 60px);">
          <div class="card" *ngFor="let i of [1,2,3,4,5,6,7,8,9]" style="border-left: 0; border-top: 0; border-right: 0; border-radius: 0;">
            <div class="card-body">
              <h6 class="card-title">Card title {{ i }}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </perfect-scrollbar>

      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 full-height remove-side-padding">

          <div class="row remove-side-margin">
            <div class="col-6 remove-side-padding" style="padding-top: 0;">
              <div class="form-group side-padding">
                <input type="text" class="form-control form-control-sm" id="search" placeholder="Search for snippets">
              </div>
            </div>
            <div class="col-6 remove-side-padding text-right" style="padding-top: 0;">
              
              <div ngbDropdown class="d-inline-block side-padding" placement="bottom-right" #myDrop="ngbDropdown">
                <button class="btn btn-sm btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>username</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <div class="card" style=" border-radius: 0; border: none;">
                      <div class="card-body text-center" style="border-bottom: 1px solid #ddd; padding: 0; margin-bottom: 10px;">
                          <p><img class="img-fluid" src="https://cdn.pixabay.com/photo/2018/04/12/11/37/apple-3313209_960_720.jpg" alt="card image" style="border-radius: 50%; max-width: 50%;"></p>
                          <h4 class="card-title">username</h4>
                      </div>
                  </div>
                  <button class="dropdown-item">Profile</button>
                  <button class="dropdown-item">Help</button>
                  <button class="dropdown-item">Logout</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="vertical-padding side-padding" style="background: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;">
            <div class="row remove-side-margin">
                <div class="col-6" style="padding-top: 0;">
                    <span class="title">Snippet title</span><br>
                    <small><b>By</b> Username</small><br>
                    <small><b>Created</b> 12 May 2018 - <b>Last update</b> 14 May 2018</small><br>
                </div>
                <div class="col-6 text-right" style="padding-top: 0;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-link">Edit</button>
                        <button type="button" class="btn btn-sm btn-link">Share</button>
                        <button type="button" class="btn btn-sm btn-link">Delete</button>
                    </div>

                    <div style="margin-top: 15px;">
                      <div ngbDropdown class="d-inline-block" placement="bottom-right" #myDrop="ngbDropdown">
                        <button class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Labels</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item" (click)="$event.stopPropagation(); myDrop.open();">Angular</button>
                          <button class="dropdown-item" (click)="$event.stopPropagation(); myDrop.open();">Vue</button>
                          <button class="dropdown-item" (click)="$event.stopPropagation(); myDrop.open();">Django</button>
                          <button class="dropdown-item" (click)="$event.stopPropagation(); myDrop.open();">Wordpress</button>
                          <button class="dropdown-item" (click)="$event.stopPropagation(); myDrop.open();">Laravel</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          
          <perfect-scrollbar style="max-height: calc(100vh - 190px); padding-right: 15px;">
            
            <div style="padding: 15px;">
              <span class="badge badge-info">Angular</span>
              <span class="badge badge-info">Vue</span>
              <span class="badge badge-info">Laravel</span>
            </div>

            <div style="padding: 15px;">
              Description: Groot jIH. Adim Groot. Adim Groot. We are Groot. Je suis Groot. Groot maH. I am Groot. Jest em Groot. Jest em Groot. Yo soy Groot. Eu sou Groot. En voyok Groot. Eu sou Groot. Ego sum Groot. Groot maH. Groot maH. Yo soy Groot. Ego sum Groot. En voyok Groot. Groot jIH. Groot jIH. Jest em Groot. Já jsem Groot. Nous sommes Groot. Groot jIH. 
            </div>

            <div *ngFor="let i of [1,2,3]" style="margin: 15px;">
              <ngb-accordion #acc="ngbAccordion" activeIds="file-{{ i }}">
                <ngb-panel id="file-{{ i }}" title="Simple {{ i }}">
                  <ng-template ngbPanelContent>
                    <handy-syntax-highlighter [language]="'typescript'" [content]="codeSample"></handy-syntax-highlighter>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>

          </perfect-scrollbar>

          <div style="border-top: 1px solid #ddd" class="text-right">
            <small class="side-padding">
              <b>V1.0</b> | <a href="#">Contribute</a> | <a href="#">Donate</a>
            </small>
          </div>
      </div>
    </div>
  </div>
</div>
