.sidebar {
    width: 560px;
    display: block;
    float: left;

    .sidebar-users {
        background: #142F43;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        color: #dddddd;
    }

    .sidebar-navigation {
        background: #142F43;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        color: #dddddd;
    }

    .sidebar-snippets {
        
    }

}

.content {
    width: calc(100% - 560px);
    display: block;
    float: left;
    background-color: #f7f7f7;
}

.row{
    >[class^=col-] {
        padding-top: .75rem;

        &.remove-side-padding {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.remove-side-margin {
        margin-left: 0;
        margin-right: 0;
    }
}

.full-height {
    height: 100vh;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.users .user {
    display: inline-block;
    margin-top: 17px;
    padding-top: 5px;
    width: 38px;
    height: 38px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 100%;
}

perfect-scrollbar {
    ::ng-deep {
        .ps.ps--scrolling-y>.ps__rail-y {
            background-color: transparent;
        }
        .ps__thumb-y {
            right: 0;
            transition: none;
            width: 4px;
        }
        .ps.ps--active-y>.ps__rail-y {
            transition: none;
            width: 4px;
            z-index: 10;
        }
        .ps.ps--active-y>.ps__rail-y:hover,
        .ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y {
            width: 4px;
        }
    }
}

ngb-accordion {
    ::ng-deep {
        .card-body {
            border-bottom: 1px solid rgba(0,0,0,.125);
        }

        .card-body {
            padding: 0;
        }
    }
}

ng-select {
    ::ng-deep {
        font-size: .75rem;

        .ng-control,
        .ng-single .ng-control {
            min-height: auto;
            height: 27px !important;
        }
    }
}

handy-syntax-highlighter {
    ::ng-deep {
        pre {
            margin: 0;
            padding: 0;
        }
    }
}

.border-left {
    border-left: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-top {
    border-top: 1px solid #ddd;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.side-padding {
    padding-left: .75rem;
    padding-right: .75rem;
}

.vertical-padding {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.list-group-heading {
    padding-top: 20px;
    padding-bottom: 10px;
}

.list-group-item {
    padding: 2px 0;
    background: transparent;
    border: none;
    color: #fff;
    padding-left: .75rem;
    padding-right: .75rem;

    &.active {
        background: rgba(0, 0, 0, 0.3);
    }

    .icon {
        margin-right: 10px;
    }
}
