<div class="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6" style="padding-top: 0; padding-bottom: 0; border-top: none; border-bottom: none; border-right: 1px solid rgba(255, 255, 255, 0.2);">

          <div class="row">
            <div class="col-3 full-height text-center sidebar-users" style="padding-right: 0;">
              <div style="padding-right: 15px;">
                <fa-icon icon="code" size="lg"></fa-icon>
              </div>
              
              <div class="users">
                <perfect-scrollbar style="max-height: calc(100vh - 40px); padding-right: 15px;" >
                  <span class="user">
                    <fa-icon icon="user"></fa-icon>
                  </span>
                  <span class="user">
                    <fa-icon icon="globe"></fa-icon>
                  </span>
                  <span class="user" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                    <fa-icon icon="coffee" title="Team {{ i }}"></fa-icon>
                  </span>
                </perfect-scrollbar>
              </div>
            </div>
            <div class="col-9 full-height sidebar-navigation" style="padding-right: 0;">
                <div style="padding-right: 15px;">
                  <span>
                      <b>My Snippets</b>
                      <fa-icon class="float-right" icon="sync-alt"></fa-icon>
                  </span>
                                      
                  <button type="button" class="btn btn-success btn-block" style="margin-top: .75rem; margin-bottom: .75rem; text-transform: uppercase;">New Snippet</button>
      
                </div>
                <perfect-scrollbar style="max-height: calc(100vh - 100px); padding-right: 15px;">
                  <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" href="#list-home" role="tab" aria-controls="home">
                      <fa-icon icon="globe" size="sm"></fa-icon> All snippets
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <fa-icon icon="star" size="sm"></fa-icon> Favorites
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      <fa-icon icon="tag" size="sm"></fa-icon> Unlabeled
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon icon="eye" size="sm"></fa-icon> Public
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon icon="eye-slash" size="sm"></fa-icon> Private
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon icon="cloud-upload-alt" size="sm"></fa-icon> Shared by me
                      </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
                      <fa-icon icon="cloud-download-alt" size="sm"></fa-icon> Shared with me
                    </a>
                  </div>
                  
                  <hr style="background: #fff">
                  <b>Labels</b>
                  <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot"></span> Angular</span>
                      <span class="badge badge-primary badge-pill">5</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot"></span> Vue</span>
                      <span class="badge badge-primary badge-pill">9</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot"></span> Django</span>
                      <span class="badge badge-primary badge-pill">12</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot"></span> Wordpress</span>
                      <span class="badge badge-primary badge-pill">7</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      <span><span class="dot"></span> Laravel</span>
                      <span class="badge badge-primary badge-pill">2</span>
                    </a>
                  </div>
                  
                  <hr style="background: #fff">
                  <b>Languages</b>
                  <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" href="#list-home" role="tab" aria-controls="home">
                      # php
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
                      # python
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      # typescript
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      # javascript
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      # sh
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
                      # markdown
                    </a>
                  </div>
                </perfect-scrollbar>
            </div>
          </div>

      </div>
      <div class="col-6" style="padding-right: 0;">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>

        <hr>

        <perfect-scrollbar style="max-height: calc(100vh - 100px);">
          <div class="card" *ngFor="let i of [1,2,3,4,5,6,7,8,9]" style="border-left: 0; border-top: 0; border-right: 0;">
            <div class="card-body">
              <h6 class="card-title">Card title {{ i }}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </perfect-scrollbar>

      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 full-height">

          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="search" placeholder="Search for snippets">
          </div>

          <hr>

          
      </div>
    </div>
  </div>
</div>
