<div class="list-group-heading">
    <b>Members</b>
    <fa-icon class="float-right add-member" icon="plus" (click)="addMember()"></fa-icon>
</div>
<div class="list-group list-group-flush" id="list-tab" role="tablist">
  <a
    *ngFor="let member of members"
    [ngClass]="{active: activeFilter.area === 'members' && activeFilter.value === member.pk}"
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    id="list-profile-list"
    role="tab">
    <span class="filterAction" (click)="updateActiveFilter(member.pk)"><fa-icon class="icon" icon="user" size="sm"></fa-icon> {{ member.user_display }}</span>
    <span class="badge badge-primary badge-pill" (click)="editMember(member)">{{ 0 }}</span>
  </a>
</div>
