<div class="modal-header">
  <h4 class="modal-title" *ngIf="!team">Add team</h4>
  <h4 class="modal-title" *ngIf="team">Edit team</h4>
</div>
<div class="modal-body">
  <form class="form" role="form" autocomplete="off" [formGroup]="teamForm.get('teamRequest')">
    <input class="form-control" name="name" formControlName="name" />
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeAction('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="confirmAction()">Save</button>
</div>
