<div class="modal-header">
  <h4 class="modal-title" *ngIf="!team">Add team</h4>
  <h4 class="modal-title" *ngIf="team">Edit team</h4>

  <div class="close" aria-label="Close" (click)="closeAction('Cross click')">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="teamForm">
    <anx-forms-input formControlName="name" [errors]="teamForm.get('name').errors"></anx-forms-input>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeAction('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary btn-outline-dark" (click)="confirmAction()">Save</button>
</div>
