<div class="container" *ngIf="activeState$ | async as activeState">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto auth-page-container">
          <div class="application-info text-center">
            <h1 class="mt-5">SnyPy</h1>
            <div>Open source on-prem code snippet manager</div>
            <div class="icons">
              <a href="https://github.com/snypy/snypy-frontend" target="_blank">
                <fa-icon [icon]="['fab', 'github']" size="xl"></fa-icon>
              </a>
              <a href="https://snypy.com" target="_blank">
                <fa-icon [icon]="['fas', 'globe']" size="xl"></fa-icon>
              </a>
            </div>
          </div>
          <div class="card rounded-0 auth-content">
            <div class="card-header text-center">
              <h2 class="mb-3 mt-3">
                <ng-container *ngIf="activeState === STATE_LOGIN">Login</ng-container>
                <ng-container *ngIf="activeState === STATE_REGISTER">Register</ng-container>
                <ng-container *ngIf="activeState === STATE_PASSWORD_FORGOT">Password forgot</ng-container>
              </h2>
            </div>
            <div class="card-body">
              <app-login *ngIf="activeState === STATE_LOGIN" (login)="doLogin($event)"></app-login>
              <app-register *ngIf="activeState === STATE_REGISTER" (register)="doRegister($event)" [errors]="server_errors"></app-register>
              <app-password-reset
                *ngIf="activeState === STATE_PASSWORD_FORGOT"
                (passwordReset)="doPasswordReset($event)"
                [errors]="passwordResetErrors"
              ></app-password-reset>

              <app-register-complete *ngIf="activeState === STATE_REGISTER_COMPLETE"></app-register-complete>
              <app-password-reset-complete *ngIf="activeState === STATE_PASSWORD_FORGOT_COMPLETE"></app-password-reset-complete>
            </div>

            <div class="card-footer" *ngIf="activeState === STATE_LOGIN">
              <button class="btn btn-link" type="button" (click)="setActiveState(STATE_REGISTER)">Register</button>
              <button class="btn btn-link" type="button" (click)="setActiveState(STATE_PASSWORD_FORGOT)">Password forgot</button>
            </div>

            <div class="card-footer" *ngIf="activeState !== STATE_LOGIN">
              <button class="btn btn-link" type="button" (click)="setActiveState(STATE_LOGIN)">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
