@import '../../../theme/variables';
@import 'mixins';
@import 'functions';
@import 'variables';

:host {
  background: #142f43;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding-bottom: 20px;

  .auth-page-container {
    display: grid;
    grid-template-areas: 'info auth';
    grid-template-columns: 250px 1fr;

    @include media-breakpoint-down(sm) {
      grid-template-areas: 'auth' 'info';
      grid-template-columns: 1fr;
    }

    .application-info {
      padding-bottom: 20px;
      grid-area: info;
      background-color: $secondary-color-600;
      color: #ffffff;
    }

    .auth-content {
      grid-area: auth;
    }

    .icons {
      --anglify-icon-color: #ffffff;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 16px;

      a {
        text-decoration: none;
      }
    }
  }
}
