<div class="sidebar">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-6"
        style="padding-top: 0; padding-bottom: 0; border-top: none; border-bottom: none; border-right: 1px solid rgba(255, 255, 255, 0.2)"
      >
        <div class="row">
          <div class="col-3 full-height text-center sidebar-users">
            <app-view-switch></app-view-switch>
            <ng-scrollbar style="max-height: calc(100vh - 112px)" visibility="hover" class="snypy-scrollbar">
              <app-teams></app-teams>
            </ng-scrollbar>
          </div>
          <div class="col-9 full-height sidebar-navigation remove-side-padding">
            <app-view-info></app-view-info>
            <ng-scrollbar style="max-height: calc(100vh - 87px - 0.75rem)" visibility="hover" class="navigation snypy-scrollbar">
              <app-menu></app-menu>
              <app-labels *ngIf="scope && (scope.area === 'team' || scope.area === 'user')"></app-labels>
              <app-languages></app-languages>
              <app-team-members *ngIf="scope && scope.area === 'team'"></app-team-members>
            </ng-scrollbar>
          </div>
        </div>
      </div>
      <div class="col-6 border-right remove-side-padding" style="padding-top: 0">
        <app-snippet-order></app-snippet-order>
        <ng-scrollbar style="max-height: calc(100vh - 60px)" visibility="hover" class="snypy-scrollbar">
          <app-snippets></app-snippets>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
