/* You can add global styles to this file, and also import other style files */
@import '~@ng-select/ng-select/themes/default.theme.css';
@import 'theme/variables';

:root {
  // change border radius of bootstrap modal
  .modal-content {
    border-radius: 0px;
  }

  .ng-select.input-field {
    .ng-select-container {
      min-height: 54px;
      border-radius: 0;

      .ng-value {
        background-color: #{$secondary-color-200} !important;
      }
    }
    .ng-dropdown-panel-items {
      .ng-option-selected {
        background-color: #{$secondary-color-200} !important;
      }
      .ng-option-marked {
        background-color: #{$secondary-color-50} !important;
      }
    }
  }

  .snypy-scrollbar {
    --scrollbar-padding: 0px;
  }
}

