/* You can add global styles to this file, and also import other style files */
@use 'node_modules/@anglify/components/styles/index' as *;
@use 'node_modules/@anglify/components/styles/themes/light' as *;
@import 'theme/variables';

:root {
  --anglify-input-outlined-label-color-focused: #{$primary-color};
  --anglify-input-outlined-border-color-focused: #{$primary-color};
  --anglify-notched-outline-border-radius: 0px;

  --anglify-button-contained-border-radius: 0px;
  --anglify-button-contained-background: #{$primary-color};
  --anglify-button-text-border-radius: 0px;
  --anglify-button-contained-label-color: #ffffff;

  --anglify-button-text-label-color: #{$primary-color};
}
