<div class="modal-header">
  
  <h4 class="modal-title" *ngIf="!team">Add team</h4>
  <h4 class="modal-title" *ngIf="team">Edit team</h4>

  <button type="button" class="close" aria-label="Close" (click)="closeAction('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="teamForm">
    <div class="form-group">
      <label for="input-name">Name</label>
      <input formControlName="name" type="text" class="form-control" id="input-name" aria-describedby="Name" placeholder="Name">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeAction('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary btn-outline-dark" (click)="confirmAction()">Save</button>
</div>