<div class="list-group list-group-flush" id="list-tab" role="tablist">
  <a class="list-group-item list-group-item-action active" id="list-home-list" href="#list-home" role="tab" aria-controls="home">
    <fa-icon class="icon" icon="globe" size="sm"></fa-icon> All snippets
  </a>
  <a class="list-group-item list-group-item-action" id="list-profile-list" href="#list-profile" role="tab" aria-controls="profile">
    <fa-icon class="icon" icon="star" size="sm"></fa-icon> Favorites
  </a>
  <a class="list-group-item list-group-item-action" id="list-messages-list" href="#list-messages" role="tab" aria-controls="messages">
    <fa-icon class="icon" icon="tag" size="sm"></fa-icon> Unlabeled
  </a>
  <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
    <fa-icon class="icon" icon="eye" size="sm"></fa-icon> Public
  </a>
  <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
    <fa-icon class="icon" icon="eye-slash" size="sm"></fa-icon> Private
  </a>
  <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
    <fa-icon class="icon" icon="cloud-upload-alt" size="sm"></fa-icon> Shared by me
    </a>
  <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">
    <fa-icon class="icon" icon="cloud-download-alt" size="sm"></fa-icon> Shared with me
  </a>
</div>