<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
            <div class="card-header text-center">
              <h3 class="mb-0">SnyPy</h3>
            </div>
            <ng-container *ngIf="activeState$ | async as activeState">
              <div class="card-body" *ngIf="activeState === STATE_SET_PASSWORD">
                <form class="form" role="form" autocomplete="off" [formGroup]="form" (submit)="doSetPassword()">
                  <input class="form-control" type="password" name="password" formControlName="password" />
                  <input class="form-control" type="password" name="password-confirm" formControlName="password_confirm" />

                  <button class="btn btn-primary" type="submit">Confirm</button>
                </form>
              </div>

              <div class="card-body" *ngIf="activeState === STATE_INVALID_TOKEN">
                <h2>Invalid token!</h2>
                <p>The provided token is invalid or has been expired!</p>
              </div>

              <div class="card-body" *ngIf="activeState === STATE_SET_PASSWORD_COMPLETE">
                <h2>New password set!</h2>
                <p>You can now login with the new set password!</p>
              </div>
            </ng-container>

            <div class="card-footer">
              <button class="btn btn-link" appearance="text" type="button" class="float-end" routerLink="/">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
