<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
            <div class="card-header text-center">
              <h3 class="mb-0">SnyPy</h3>
            </div>
            <div class="card-body" *ngIf="ACTIVE_STATE === STATE_SET_PASSWORD">
              <form class="form" role="form" autocomplete="off" id="formSetPassword" novalidate="" [formGroup]="form">
                <anx-forms-input
                  formControlName="password"
                  [errors]="form.get('password').errors"
                  [placeholder]="'New Password'"
                  [type]="'password'"
                ></anx-forms-input>
                <anx-forms-input
                  formControlName="password_confirm"
                  [errors]="form.get('password_confirm').errors"
                  [placeholder]="'Confirm password'"
                  [type]="'password'"
                  [errorMessages]="{ mismatch: 'Passwords do not match!' }"
                ></anx-forms-input>

                <button type="submit" class="btn btn-primary" id="btnLogin" (click)="doSetPassword()">Confirm</button>
              </form>
            </div>

            <div class="card-body" *ngIf="ACTIVE_STATE === STATE_INVALID_TOKEN">
              <h2>Invalid token!</h2>
              <p>The provided token is invalid or has been expired!</p>
            </div>

            <div class="card-body" *ngIf="ACTIVE_STATE === STATE_SET_PASSWORD_COMPLETE">
              <h2>New password set!</h2>
              <p>You can now login with the new set password!</p>
            </div>

            <div class="card-footer">
              <button type="button" class="btn btn-outline-info btn-sm float-end" routerLink="/">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
